{{- define "section_content" -}}
    <main class="page-content" id="content">
        {{- .Content -}}
        <ul class="projects">
            {{- range .Data.Pages -}}
                <li class="projects__project">
                    <a class="project__link" href="{{- .Permalink -}}">
                        {{- if not .Params.hideDate -}}
                            <time class="project__time">
                                {{- .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006") -}}
                            </time>
                        {{- end -}}
                        <h2 class="project__title">{{- .Title -}}</h2>

                        {{- with .Params.tags -}}
                            <div class="project__tags tags">
                                {{- range . -}}
                                    <span class="tags__tag">{{- . -}}</span>
                                {{- end -}}
                            </div>
                        {{- end -}}
                    </a>
                </li>
            {{- end -}}
        </ul>
    </main>
{{- end -}}
