{{ define "section_content" }}
    <div class="page-content" id="content">
        {{ .Date.Format (.Site.Params.dateForm | default "Monday, 02. January 2006") }} &#183; {{ .ReadingTime }} minute{{ if not (eq (.ReadingTime) 1) }}s{{ end }}
        {{ with .Params.tags }}
            {{ partial "tags" . }}
        {{ end }}

        {{ .Content }}
    </div>
{{ end }}

{{ define "bottom-menu" }}
    <div class="bottom-menu">
        {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" true) }}
    </div>
{{ end }}
