{{- if or (isset .Page.Site.Params "mainMenu") (isset . "show_back_menu_item") -}}
    <hr>
{{- end -}}

<nav>
    {{- if .show_back_menu_item -}}
        <a href="{{ .Page.Section | relURL }}">back</a>
        {{- if .Page.Site.Params.mainMenu -}}
            &#183;
        {{- end -}}
    {{- end -}}

    {{- if .Page.Site.Params.mainMenu -}}
        {{- range first 1 .Page.Site.Params.mainMenu -}}
            <a href="{{ .link }}">{{ .text }}</a>
        {{- end -}}

        {{- if ( gt ( len .Page.Site.Params.mainMenu ) 1 ) -}}
            {{- range after 1 .Page.Site.Params.mainMenu -}}
                {{- if not .hidden -}}
                    &nbsp;&#183;&nbsp;<a href="{{ .link }}">
                        {{- if .footerText -}}
                            {{- .footerText -}}
                        {{- else -}}
                            {{- .text -}}
                        {{- end -}}</a>
                {{- end -}}
            {{- end -}}
        {{- end -}}

        &nbsp;&#183;&nbsp;<a href="{{ ref .Page "imprint.md" }}">imprint</a>{{/*
        */}}&nbsp;&#183;&nbsp;<a href="{{ ref .Page "privacy.md" }}">privacy</a>{{/*
        */}}&nbsp;&#183;&nbsp;<a href="{{ .Page.Site.BaseURL }}">
            {{- .Page.Site.Params.homepage -}}
        </a>
    {{- end -}}
</nav>
