{{- $bundleRaw := resources.Get "/scss/style.scss" -}}
{{- $cssOpts := (dict "targetPath" "/css/style.css" "enableSourceMap" true ) -}}

{{- if .Site.IsServer -}}
    {{- $bundle := $bundleRaw | toCSS $cssOpts -}}

    <link rel="stylesheet" href="{{ $bundle.RelPermalink }}" media="screen">
{{- else -}}
    {{- $postCSSOpts := (dict "use" "autoprefixer" ) -}}
    {{- $bundle := $bundleRaw | toCSS $cssOpts | postCSS $postCSSOpts | minify | fingerprint -}}

    <link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}"
          crossorigin="anonymous" media="screen">
{{- end -}}

<!-- Custom css -->
{{- range .Site.Params.customCSS -}}
    {{- $style := resources.Get . -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}"
          crossorigin="anonymous" media="screen">
{{- end -}}

